*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
table{
    border: 5mm ridge blue;
    background-color: rgba(72, 81, 137, 0.541);
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 25px;
}
input[type="button"]{
    width: 100%;
    padding: 17px 35px;
    background-color: rgb(86, 5, 168);
    color: rgba(4, 255, 171, 0.796);
    font-size: 30px;
    font-weight: bolder;
    border: 2mm ridge rgba(4, 255, 171, 0.796) ;
    border-radius: 200px;
    transition: 4s;
    
}
input[type="button"]:hover{
    background-color: rgba(255, 106, 0, 0.908);
    transition: .02s;
}

input[type="text"] {
    padding: 25px 45px;
    font-size: 24px;
    font-weight: border;
    border: none;
    border-radius: 20px;
    border: 3mm ridge rgb(255, 0, 0);
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(0, 0, 0);
    transition: 2s;
    background: linear-gradient(to right bottom , rgba(255, 255, 255, 0.4)rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(1rem);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
input[type="text"]:hover{
    background-color: rgb(25, 0, 255);
    transition: 10s;
    color: rgb(255, 255, 255);
}
section:is[class="page"]{
    width: 100%;
    height: 100%;
}
